body {
  margin: 10;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

h1 {
  margin-top: 100px;
  font-size: 40px;
}

p {
  font-size: 20px;
}

.container {
  margin-top: 50px;
}



html, body {
  height: 100%;
  margin: 0;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dark {
  background: #121212;
  color: white;
}

.dark .card {
  background: rgba(255, 255, 255, 0.1);
}



@media (max-width: 600px) {

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
    padding: 0 10px;
  }

  .card {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
  }

  button {
    width: 90%;
    margin: 10px auto;
    display: block;
  }
}



.game {
  text-align: center;
  padding: 20px;
  background: rgba(255,255,255,0.2);
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
}

#holdBtn {
  margin-top: 10px;
  padding: 15px;
}
